<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Bibliografiniai rodikliai</h1>
     <h2>Įveskite bibliografinių rodiklių reikšmes</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="2018_SNIP" placeholder="SNIP (Reikšmės: [0, 3])" required="required" />
        <input type="text" name="2018_CiteScore" placeholder="CiteScore (Reikšmės: [0, 15])" required="required" />
        <input type="text" name="2018_SJR" placeholder="SJR (Reikšmės: [0, 5])" required="required" />
        <input type="text" name="2018_scopus_quartile" placeholder="Scopus_quartile (1,2,3,4)" required="required" />
        <input type="text" name="2018_AIF" placeholder="AIF (Reikšmės: [0, 10])" required="required" />
        <input type="text" name="2018_IF" placeholder="IF (Reikšmės: [0, 15])" required="required" />
        <input type="text" name="2018_IF_quartile" placeholder="IF_quartile (1,2,3,4)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>